<div class="bg-gray-700 text-columbia-blue px-3 py-2 border-l border-r border-gray-600 rounded">
  <% @search_results.each do |manufacturer, discs| %>
    <%= render DiscComponent.new(manufacturer:, discs:) %>
  <% end %>
</div>