<div class="mb-5" data-controller="autocomplete hide" data-autocomplete-url-value="<%= search_path %>">
  <div class="relative">
    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
      <svg class="w-4 h-4 text-columbia-blue" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
      </svg>
    </div>
    <input data-action="focus->hide#showContent" type="search" id="default-search" data-autocomplete-target="input" class="block w-full p-4 ps-10 text-sm text-columbia-blue border border-gray-600 rounded-lg bg-gray-700 border-gray-600 placeholder-columbia-blue focus:border-columbia-blue focus:ring-columbia-blue" placeholder="Search for any Disc..." required />
    <div class="absolute w-full" data-hide-target="content" data-autocomplete-target="results"></div>
  </div>
</div>
<% if @disc.present? %>
  <%= turbo_frame_tag :search_results, src: manufacturer_disc_path(@disc.manufacturer.slug, @disc.slug) %>
<% else %>
  <%= turbo_frame_tag :search_results %>
<% end %>
