<table class="table-auto">
  <tr class="text-left">
    <th class="p-1">ID</th>
    <th class="p-1">Name</th>
    <th class="p-1">Slug</th>
    <th class="p-1">Speed</th>
    <th class="p-1">Glide</th>
    <th class="p-1">Turn</th>
    <th class="p-1">Fade</th>
    <th class="p-1">Diameter</th>
    <th class="p-1">Height</th>
    <th class="p-1">Rim Depth</th>
    <th class="p-1">Rim Width</th>
  </tr>
  <% @data.each do |manufacturer, discs| %>
    <tr class="bg-columbia-blue text-black text-3xl"><th colspan='14' class="py-4 border border-white"><%= manufacturer.name %></th></tr>
    <%= render Admin::DiscComponent.with_collection(discs) %>
  <% end %>
</table>