@tailwind base;
@tailwind components;
@tailwind utilities;

div.field_with_errors > label {
    @apply text-red-300;
}

div.field_with_errors > :is(input, textarea, select) {
    @apply border-red-300 text-red-900 placeholder-red-300;
}

@font-face {
    font-family: "Fly";
    src: local("Fly"), url("fly.otf") format("opentype")
}

@layer base {
    html {
        font-family: "Roboto Light", system-ui, sans-serif;
    }
}
